:root {
  /* Primary */

  --Purple_500: hsl(259, 100%, 65%);
  --Red_400: hsl(0, 100%, 67%);

  /*Colores Neutrales*/

  --White: hsl(0, 100%, 100%);
  --Grey_100: hsl(0, 0%, 94%);
  --Grey_200: hsl(0, 0%, 86%);
  --Grey_500: hsl(0, 1%, 44%);
  --lack: hsl(0, 0%, 0%);

  /* Fuentes */
  --FuentePrincipal: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 65.2%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
Body {
  background-color: #222;
  font-family: var(--FuentePrincipal);
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  background-color: var(--White);
  margin: 1rem auto;
  width: min(60rem, 95%);
  height: 58rem;
  border-radius: 10px;
}
.nacimiento {
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(169, 107, 228);
  background: linear-gradient(to right, #ff7e5f, #960dcc); /* Degradado */
  -webkit-background-clip: text; /* Crucial para el efecto */
  color: transparent; /* Hacemos el color de texto transparente */
  background-clip: 0;
}

.input_user {
  display: flex;
  padding: 1rem;
  background-color: #222;
  justify-content: space-evenly;
  gap: 10px;
}
.campo {
  text-align: center;
  background-color: #8d81811f;
  border-radius: 5px;
}
.campo:hover {
    box-shadow: 0 2px 1px 2px green;

}
.campo label {
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: var(--White);
}
.campo input {
  width: 15rem;
  margin: auto;
  height: 4rem;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  background: transparent;
  color: var(--White);
  text-align: center;
  border-top: 1px solid grey;
    outline: none;

}

input:focus {
  background-color: var(--Purple_500);
  border-radius: 5px;
}
input::placeholder {
  text-align: center;
  color: var(--lack);
}
p {
  color: var(--Purple_500);
}

.middle p {
  color: var(--Purple_500);
  font-size: 40px;
}
.ctually {
  text-align: center;
  font-family: var(--FuentePrincipal);
  width: 25rem;
  font-size: 19px;
  border-radius: 5px;
  padding: 10px;
  margin-left: -1rem;
  color: var(--White);
  text-shadow: 0px 0px 1px 2px rgb(255, 255, 255);
  background-color:#222;
  transition: width ease 0.3s;
}
.ctually:hover {
  width: 100%;
    border-radius: 0;
  transition: width ease 0.3s;
  margin-left: 0;
}
.output_user p {
  font-size: 41px;
  border-radius: 5px;border-top: 1px solid grey;
}
.output_user {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: min(50rem,95%);
  margin: 3rem auto;
  padding: 2rem;
  background-color: #222;
  border-radius: 5px;
    gap: 1rem;

}
h2 {
  text-indent: 2rem;
}
.atras {
  margin: 3rem auto;
  border-radius: 15px;
  width: 40rem;
}
.main_head {
  font-size: 3rem;
  text-align: center;
  width: min(50rem, 95%);
  padding: 1rem;
  margin: 3rem auto;
  background: linear-gradient(to right, #1af53f, #aa13e6); /* Degradado */
  -webkit-background-clip: text; /* Crucial para el efecto */
  color: transparent; /* Hacemos el color de texto transparente */
  background-clip: 0;
}
h1 {
  text-shadow: 10px 101px 110px rgb(0, 0, 0);
}
span {
  color: var(--White);
  letter-spacing: 5px;
}
.gratefoul {
  text-align: center;
  font-size: 15px;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  gap: 5px;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  width: auto;
}

button {
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #222;
  transition: all 0.3s;
  text-transform: uppercase;
}
button:hover {
    border-radius: 10px;
    background-color: var(--Purple_500);
    color: var(--White);
    transition:all ease 0.3s;
    width: 150px;
}
button:focus {
    border-radius: 10px;
    background-color: var(--Purple_500);
    color: var(--White);
    transition:all ease 0.3s;
    width: 150px;
}
button:active {
  border: 3px solid black;
}

@media (max-width: 45rem) {
    .contenedor {height: 100%;
        margin-top: -5rem;
    background-color: transparent;
    padding: 1rem;
    width: 100%}
    .input_user {flex-direction: column;
    }
    .middle {
        order: 1;
        height: 100%;
        flex-direction: column;
        background-color: var(--White);
    }
    .output_user {
        order: -1;
        flex-direction: column;
        height: 100%;
        width: 95%;
        border-radius: 5px;
        background-color: var(--White);

    }
    .nacimiento{
        order: 0;
padding: 1rem    }
    .gratefoul,.main_head,.ctually ,hr  {
        display: none;
    }
    .output_user p {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        margin: 5px;
        background-color: #222;
    }
    .campo {
        padding: 2rem;
    }
    .campo:hover {
        box-shadow: 0 0 1px 2px green;

    }
    label {
        letter-spacing: 4px;
        padding-bottom: 2rem;
        }
    input {
        width: 100% !important;
        border: none !important;
        padding: 3rem ;
    }
    input:focus {
        background-color: rgba(153, 153, 153, 0.13);
    }
    input::placeholder {
        color: var(--White);
        font-size: 1.5rem;
        opacity: 20%;

    }
    #validarInputs {
    background-color: var(--Purple_500);
    width: 100%;
    height: auto;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    }

}